{% extends "base_generic.html" %} {% load socialaccount %}
<!-- Load the socialaccount tag library -->

{% block title %} | Login{% endblock %} {% block content %}
<section class="vh-100 my-5" style="background-color: #9a616d">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem">
          <div class="row g-0">
            <div class="col-md-6 col-lg-5 d-none d-md-block">
              <img
                src="https://static.wixstatic.com/media/3cdde0_0d23c63fc6e14f83b88b33ca2cc39e8a~mv2.png"
                alt="login form"
                class="img-fluid"
                style="border-radius: 1rem 0 0 1rem"
              />
            </div>
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <div class="d-flex align-items-center mb-3 pb-1">
                  <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219"></i>
                  <span class="h1 fw-bold mb-0">Savannah</span>
                </div>

                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px">
                  Sign in with:
                </h5>

                <!-- Social Login Buttons -->
                <div class="mb-4">
                  <!-- Google Login Button -->
                  <a
                    href="{% provider_login_url 'google' %}"
                    class="btn btn-primary btn-lg btn-block mb-3"
                    role="button"
                  >
                    <i class="fab fa-google me-2"></i> Sign in with Google
                  </a>

                  <!-- GitHub Login Button -->
                  
                </div>
                <a href="#!" class="small text-muted">Terms of use</a>
                <a href="#!" class="small text-muted">Privacy policy</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
